*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Niconne;
    background-image: url(https://img.magnific.com/free-vector/birthday-background-with-colorful-balloons_206725-376.jpg?semt=ais_hybrid&w=740&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.navlinks{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    gap: 40px;
    margin-right: 150px;
    letter-spacing: 10px;
}
main{
   display: flex;
   display: grid;
   grid-template-columns: repeat(4,1fr);
gap: 20px;
padding: 5px;


}
.message{
   border: 2px solid red;
    height: 40vh;
    background-color: white;
   border-radius: 20%;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 22px;
   font-family: 'Edu QLD Hand', cursive;
}
